/* Moblie */
@media (max-width:46.1875em) {
    html {
        height: 100%;
    }
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: scroll;
        height: 100%;
    }
    .header-home {
        display: none;
    }
    .slash::before {
        display: none;
    }
    .contact {
        display: none;
    }
    .header {
        top: 15px;
        left: auto;
        right: 15px;
    }
    .header-about-container {
        top: 0;
        left: auto;
        right: 0;
        font-size: 12px;
    }
    .header-about-narrow {
        fill: white;
        width: 23px;
        height: 7px;
        right: 11px;
    }
    .header-about-narrow>svg {  
        transform: none;
    }
    .menuTrigger_open>span{
        height:2px;
    }
    .menuTrigger {
        top: 13px;
        left: 15px;
        margin-top: 0;
        width: 23px;
        height: 23px;
    }
    .menuTrigger_close>span:nth-child(1) {
        height: 2px;
        top: 10px;
    }
    .menuTrigger_close>span:nth-child(2) {
        width: 2px;
        left: 10px;
    }
    .menuTrigger_close>span:before{
        background-color: #fff;
    }
    .header-about-text {
        margin-left: 16px;
    }
    .menuTrigger_open>span:nth-child(1){
        top:2px;
    }
    .menuTrigger_open>span:nth-child(2){
        top:10px;
    }
    .menuTrigger_open>span:nth-child(3){
        top:18px;
    }
    .slideHome-container {
        width: 74vw;
    }
    .slideHome-position {
        font-size: 3.8vw;
        text-align: center;
        letter-spacing: .34em;
        margin-left: 4vw;
    }
    .slideHome-name {
        /* margin-top: 4vw; */
        font-size: 8vw;
        letter-spacing: .8em;
        text-align: center;
        line-height: 1.75;
    }
    .slideHome-from>br , .slideHome-name>br {
        display: block;
    }
    .slideHome-from {
        margin-top: 12px;
        text-align: center;
        font-size: 3.2vw;
        letter-spacing: .2em;
        line-height: 1.7;
    }
    .slideNavi {
        bottom: 25px;
        width: 250px;
        margin-left: -125px;
        font-size: 14px;
    }
    .slideNavi-title {
        display: none;
    }
    .slideNavi-arrow>span>svg {
        height: 10px;
    }
    .slideNavi-prev , .slideNavi-next {
        width: 100px;
    }
    .slideNavi-num {
        position: relative;
        top: 0;
        font-size: 13px;
    }

    /* Loading */

    .loading_name {
        font-size:18px;
        letter-spacing:6px;
        font-weight:100;
        margin-bottom:60px;
        left: 30%;
    }
    .sub_loading {
        left: 34%;
        font-size:9px;
        margin-top:50px
    }
    .loading_bar {
        width: 250px;
        top: 52%;
        left: 21%;
    }
    .loader {
        width: 250px;
    }

    /* Slide Work */

    .slideWorks {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .slideWorks_container {
        width: 100%;
        padding-top: 22vw;
        padding-left: 6vw;
        padding-right: 6vw;
        /* height: 100%; */
    }
    .slideWorks_num {
        font-size:4vw;
    }
    .slideWorks_category {
        left: 15vw;
        font-size: 4vw;
    }
    .slashes:before {
        top: -0.6vw;
        left: 12.2vw;
        height: 5.2vw;
    }
    .slideWorks_title {
        width: 100%;
        margin-top: 2vw;
        font-size: 7.5vw;
    }
    .slideWorks_info {
        display:inline-block;
        position: relative;
        letter-spacing:2px;
        margin-top: 3.5vw;
        font-size: 4vw;
    }
    .slideWorks_info:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    .slideWorks_visit {
        position: relative;
        top: auto;
        right: auto;
        width: 100px;
        height: 100px;
        border-radius: 80px;
        margin-top: 95px;
        margin-left: 49px;
    }
    .slideWorks_visit > span {
        font-size: 16px;
        top: 45px;
        left:23px;
    }
    .slideWorks_visit:after {
        top: 48.5px;
        right: -3px;
        width: 13px;
        height: 13px;
    }
    .slideWorks_tech, .slideWorks_description {
        display: none;
    }

    /* List */
    .list {
        margin-top: 20vw;
        padding-left: 7vw;
        padding-right: 7vw;
        width: 100%;
        min-height: auto;
    }
    .list_item {
        position: relative;
        top: auto !important;
        left: auto !important;
        width: 100%;
        margin-bottom: 12vw;
    }
    .list_item>a {
        display:flex;
        align-items: center;
        flex-direction: row;    
    }
    .list_item>a:hover .list_num>span , .list_item>a:hover .list_title>span,.list_item>a:hover .list_thumb>img{
        transition: none;
        transform: none;
    }
    .list_num {
        display:none;
    }
    .list_thumb {
        width: 35vw;
    }
    .list_title {
        width: 51vw;
        font-size: 4vw;
        padding-left: 4vw;
        height: 100%;
        padding-top: 0;
        font-weight: 400;
    }

    /* About */
    .about {
        margin-top: 60px;
        padding-top: 40px;
        width: 100%;
        padding-left: 7vw;
        padding-right: 7vw;
    }
    .about_position {
        font-size:3.2vw;
        letter-spacing:9px;
    }
    .about_name {
        font-size: 7vw;
        letter-spacing: 0.57em;
        margin-top: 4vw;
    }
    .about_from {
        margin-top: 4vw;
        font-size: 3.2vw;
        letter-spacing: .05em;
    }
    .about_description {
        margin-top: 8vw;
        font-size: 3.2vw;
        letter-spacing: .05em;
        line-height: 1.6;
        font-weight: 300;
    }
    .about_contact {
        display: none;
    }
    .about_sns {
        margin-top: 8vw;
        font-size: 3.2vw;
        display: block;
        font-weight: 600;
        letter-spacing: .05em;
        position:relative;
    }
    .about_sns_fb, .about_sns_gh {
        color:white;
        width: 27vw;
        text-decoration: none;
        display: block;
    }
    .about_sns_arrow {
        position: absolute;
        top: 0;
        width: 6.1vw;
        left: 14vw;
    }
    .about_sns_arrow>svg {
        fill: #fff;
    }
    .about_sns_gh{
        position: absolute;
        top: 0;
        left: 27vw;
    }
    .about_sns_gh>.about_sns_arrow {
        left: 9.5vw;
    }
    .about_contact_email {
        display: block;
        margin-top: 8vw;
        font-size: 3.2vw;
        letter-spacing: .05em;
    }
    .about_contact_email_link {
        text-decoration: none;
        color: #fff;
        letter-spacing:2px;
        margin-top:5px;
        display: inline-block;
        margin-bottom:50px;
    }
    footer {
        display: none;
    }
}

/* Tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {

}