/* Moblie */
@media (max-width:46.1875em) {
    html {
        height: 100%;
    }
    .header-home {
        display: none;
    }
    .slash::before {
        display: none;
    }
    .contact {
        display: none;
    }
    .header {
        top: 15px;
        left: auto;
        right: 15px;
    }
    .header-about-container {
        top: 0;
        left: auto;
        right: 0;
        font-size: 12px;
    }
    .header-about-narrow {
        fill: white;
        width: 23px;
        height: 7px;
        right: 11px;
    }
    .header-about-narrow>svg {  
        transform: none;
    }
    .menuTrigger_open>span{
        height:2px;
    }
    .menuTrigger {
        top: 13px;
        left: 15px;
        margin-top: 0;
        width: 23px;
        height: 23px;
    }
    .menuTrigger_close>span:nth-child(1) {
        height: 2px;
        top: 10px;
    }
    .menuTrigger_close>span:nth-child(2) {
        width: 2px;
        left: 10px;
    }
    .menuTrigger_close>span:before{
        background-color: #fff;
    }
    .header-about-text {
        margin-left: 16px;
    }
    .menuTrigger_open>span:nth-child(1){
        top:2px;
    }
    .menuTrigger_open>span:nth-child(2){
        top:10px;
    }
    .menuTrigger_open>span:nth-child(3){
        top:18px;
    }
    .slideHome-container {
        width: 350px;
    }
    .slideHome-position {
        font-size: 15px;
        text-align: center;
        letter-spacing: 6px;
    }
    .slideHome-name {
        font-size: 31px;
        text-align: center;
        letter-spacing: 25px;
        line-height:1.75;
    }
    .slideHome-from>br , .slideHome-name>br {
        display: block;
    }
    .slideHome-from {
        margin-top: 12px;
        text-align: center;
        font-size: 13px;
        letter-spacing: 5px;
        line-height: 1.7;
    }
    .slideNavi {
        bottom: 25px;
        width: 250px;
        margin-left: -125px;
        font-size: 14px;
    }
    .slideNavi-title {
        display: none;
    }
    .slideNavi-arrow>span>svg {
        height: 10px;
    }
    .slideNavi-prev , .slideNavi-next {
        width: 100px;
    }
    .slideNavi-num {
        position: relative;
        top: 0;
        font-size: 13px;
    }

    /* Loading */

    .loading_name {
        font-size:18px;
        letter-spacing:6px;
        font-weight:100;
        margin-bottom:60px;
        left: 30%;
    }
    .sub_loading {
        left: 34%;
        font-size:9px;
        margin-top:50px
    }
    .loading_bar {
        width: 250px;
        top: 52%;
        left: 21%;
    }
    .loader {
        width: 250px;
    }

    /* Slide Work */

    .slideWorks {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .slideWorks_container {
        width: 100%;
        padding-top: 85px;
        padding-left: 25px;
        padding-right: 25px;
        /* height: 100%; */
    }
    .slideWorks_num {
        font-size:16px;
    }
    .slideWorks_category {
        top: 0;
        font-size:16px;
        left: 72px;
    }
    .slashes:before {
        left: 56px;
        top: -3px;
        height: 23px;
    }
    .slideWorks_title {
        width: 100%;
        font-size:28px;
    }
    .slideWorks_info {
        display:inline-block;
        margin-top:15px;
        position: relative;
        letter-spacing:2px;
    }
    .slideWorks_info:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    .slideWorks_visit {
        position: relative;
        top: auto;
        right: auto;
        width: 100px;
        height: 100px;
        border-radius: 80px;
        margin-top: 95px;
        margin-left: 49px;
    }
    .slideWorks_visit > span {
        font-size: 16px;
        top: 45px;
        left:23px;
    }
    .slideWorks_visit:after {
        top: 48.5px;
        right: -3px;
        width: 13px;
        height: 13px;
    }
    .slideWorks_tech, .slideWorks_description {
        display: none;
    }

    /* List */
    .list {
        margin-top:80px;
        padding-left: 28px;
        padding-right: 28px;
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }
    ul .list_item {
        position: relative;
        top: auto !important;
        left: auto !important;
        width: 100%;
        margin-bottom: 47px;
    }
    .list_item>a {
        display:flex;
        align-items: center;
        flex-direction: row;    
    }
    .list_item>a:hover .list_num>span , .list_item>a:hover .list_title>span,.list_item>a:hover .list_thumb>img{
        transition: none;
        transform: none;
    }
    .list_num {
        display:none;
    }
    .list_thumb {
        width: 137px;
    }
    .list_title {
        font-size:16px;
        padding-left:16px;
    }

    /* About */
    .about {
        margin-top:60px;
        padding-left:28px;
        padding-right:28px;
        padding-top:40px;
        width: 100%;
    }
    .about_position {
        font-size:13px;
        letter-spacing:9px;
    }
    .about_name {
        font-size:31px;
        letter-spacing:13px;
        margin-top:16px;
    }
    .about_from {
        margin-top:16px;
        font-size:14px;
    }
    .about_description {
        margin-top:32px;
        font-size:14px;
        line-height:1.6;
        letter-spacing:3px;
    }
    .about_contact {
        display: none;
    }
    .about_sns {
        margin-top: 32px;
        position:relative;
        font-size:13px;
        letter-spacing:2px;
        display: block;
    }
    .about_sns_fb, .about_sns_gh {
        color:white;
        text-decoration: none;
    }
    .about_sns_arrow {
        position: absolute;
        top: 0;
        width: 24px;
        left: 65px;
    }
    .about_sns_arrow>svg {
        fill: #fff;
    }
    .about_sns_gh{
        position: absolute;
        top: 0;
        left: 126px;
    }
    .about_sns_gh>.about_sns_arrow {
        left: 50px;
    }
    .about_contact_email {
        display: block;
        margin-top: 32px;
        font-size:13px;
        letter-spacing:3px;
    }
    .about_contact_email_link {
        text-decoration: none;
        color: #fff;
        letter-spacing:2px;
        margin-top:5px;
        display: inline-block;
        margin-bottom:50px;
    }
    footer {
        display: none;
    }
}

/* Tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {

}